.forgot-password-container {
    position: relative;
    height: 100vh;
    background-color: #aaa;

    .loading-forgot-password {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .loader-content {
            background:
                radial-gradient(farthest-side, #fff 94%, #0000) top/8px 8px no-repeat,
                conic-gradient(#0000 30%, #fff);
        }
    }

    section {
        .form-gap {
            padding-top: 70px;
        }
    }
}