.manage-subject-container {
    .manage-subject-main {
        min-height: 600px;
        display: flex;

        .manage-subject-section {
            width: 80%;
            height: initial;
            display: flex;
            justify-content: center;
            padding: 20px 0;

        }
    }
}