.manage-center-container {
    .manage-center-main {
        min-height: 600px;
        display: flex;

        .manage-center-section {
            width: 80%;
            height: initial;
            display: flex;
            justify-content: center;
            padding: 20px 0;

            .add-center-container {
                padding: 10px 100px;
                background-color: #f8f8f8;
                border-radius: 10px;
                box-shadow: 0 5px 10px #ccc;
                font-size: 1.1rem;

                .select-input {
                    margin-top: 6px;
                }

                h2 {
                    padding: 5px 0;
                    margin-bottom: 10px;
                }

                .form-col {
                    .description {
                        height: 50px;
                        max-height: 50px;
                        max-width: 690px;
                        padding: 5px 12px;
                    }
                }

                .image-center {
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    .image-item {
                        margin-top: 5px;
                        display: flex;
                        position: relative;
                        width: 50%;
                        height: 180px;
                        z-index: 0;

                        input {
                            display: none;
                        }

                        img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                            border: none;
                        }

                        label {
                            width: 100%;
                            height: 100%;
                            z-index: 1;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border: none;

                            &:hover {
                                background-color: rgba(0, 0, 0, 0.5);
                            }
                        }

                        .alt-img {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 0;
                            opacity: 0.4;
                        }
                    }
                }

                .add-center {
                    display: flex;
                    justify-content: center;
                    padding-top: 20px;
                    gap: 15px;

                    button {
                        color: #fff;
                        border: none;
                        border-radius: 5px;
                        padding: 10px 20px;
                        cursor: pointer;
                        font-weight: 600;

                        &:hover {
                            opacity: 0.6;
                        }
                    }

                    .btn-cancel {
                        background-color: orange;
                    }

                    .btn-add-center {
                        background-color: #16e60b;
                    }
                }
            }
        }

    }
}