.manage-booking-list {
    .manage-booking-table {
        border-collapse: collapse;
        background-color: #f8f8f8;
        border-radius: 10px;
        box-shadow: 0 0 10px #999;
        min-width: 600px;

        button {
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }
        }

        .table-head {
            font-size: 1.1rem;

            th {
                text-align: left;
                padding: 10px 20px;
                border-top: 1px solid #ddd;
            }

            .tr-head {
                height: 60px;
                position: relative;

                .title-table-booking {
                    position: absolute;
                    left: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 1.6rem;
                }

            }
        }

        .table-body {
            td {
                padding: 15px 20px;
                border-top: 1px solid #ddd;
                max-width: 200px;

                p {
                    color: #fff;
                    padding: 5px 8px;
                    border-radius: 15px;
                    text-align: center;
                }

                .confirm {
                    background-color: green;
                }

                .wait {
                    background-color: orange;
                }

                .done {
                    background-color: blue;
                }

                .cancel {
                    background-color: red;
                }

                &.course-full-with {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .btn-done {
                    color: green;
                    padding: 0px 10px;
                    font-size: 1.1rem;
                }

                .btn-delete {
                    color: red;
                    padding: 0 15px;
                }
            }
        }
    }
}