.manage-course-list {
    .manage-course-table {
        border-collapse: collapse;
        background-color: #f8f8f8;
        border-radius: 10px;
        box-shadow: 0 0 10px #999;
        min-width: 600px;

        button {
            border: none;
            outline: none;
            background-color: transparent;
            cursor: pointer;

            &:hover {
                opacity: 0.7;
            }
        }

        .table-head {
            font-size: 1.1rem;

            th {
                text-align: left;
                padding: 10px 20px;
                border-top: 1px solid #ddd;
            }

            .tr-add-course {
                height: 60px;
                position: relative;

                .title-table-center {
                    position: absolute;
                    left: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 1.6rem;
                }

                .btn-add-course {
                    position: absolute;
                    background-color: #6e00ff;
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    right: 25px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #fff;
                    font-size: 1rem;
                }
            }
        }

        .table-body {
            td {
                padding: 15px 20px;
                border-top: 1px solid #ddd;
                max-width: 200px;

                &.course-full-with {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .btn-edit {
                    color: orange;
                    padding: 0 15px;
                }

                .btn-delete {
                    color: red;
                    padding: 0 15px;
                }
            }

            .empty-course-row {
                position: relative;
                top: 0;
                left: 40%;

                .empty-course {
                    border: none;
                    color: red;
                    font-weight: 600;
                    text-align: center;
                    font-size: 1.2rem;
                }
            }
        }
    }
}