.navigator-menu {
    display: flex;
    margin: 0;
    padding: 0;

    &.list-unstyled,
    .list-unstyled {
        list-style-type: none;
    }

    .menu-group {
        &:hover {
            cursor: pointer;
            background-color: darken(#0071ba, 5);
        }

        .menu-group-name {
            line-height: 40px;
            padding: 0 15px;
            border-right: 1px solid #ccc;

            &:first-child {
                border-left: 1px solid #ccc;
            }
        }

        .menu-list {
            display: none;
            background-color: #f5f5f5;
            box-shadow: 2px 2px 4px 0 #0000004d;
            -webkit-box-shadow: 2px 2px 4px 0 #0000004d;
            color: #181818;
            position: absolute;
            padding: 0;

            .menu {
                width: 100%;
                padding: 0 15px;
                height: 35px;
                line-height: 35px;
                text-transform: none;

                .menu-link {
                    text-decoration: none;
                    color: #181818;
                    display: block;
                }

                .sub-menu-list {
                    display: none;
                    background-color: #f5f5f5;
                    box-shadow: 2px 2px 4px 0 #0000004d;
                    -webkit-box-shadow: 2px 2px 4px 0 #0000004d;
                    position: absolute;
                    top: 0;
                    left: 205px;
                    padding: 0;

                    .sub-menu {
                        padding: 0 15px;
                        height: 35px;
                        line-height: 35px;
                        white-space: nowrap;

                        &:hover {
                            background-color: darken(#f5f5f5, 5);
                        }

                        .sub-menu-link {
                            text-decoration: none;
                            color: #181818;
                        }

                        a {
                            display: block;
                        }

                        &.active a {
                            font-weight: 500;
                            color: #0071ba;
                            display: block;
                        }
                    }
                }

                &.active a {
                    font-weight: 500;
                    color: orange;
                    display: block;
                }

                &:hover {
                    background-color: darken(#f5f5f5, 3);

                    .sub-menu-list {
                        display: block;
                    }
                }

                .icon-right {
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 10px;
                }
            }
        }

        &:hover {
            .menu-list {
                display: block;
            }
        }
    }
}