* {
    padding: 0;
    margin: 0;
}

.header-container {
    
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: #0071ba;
    color: white;
    height: 40px;
    position: relative;

    .header-right {
        display: flex;
        align-items: center;

        .btn-logout {
            color: white;
            line-height: 40px;
            height: 40px;
            padding: 0 10px;

            &:hover {
                background-color: darken(#0071ba, 5);
            }

            i {
                font-size: 16px;
            }
        }

        .welcome {
            margin-right: 25px;
        }
    }
}